NODE_ALPINE_VERSION=20.11.0

RABBITMQ_URL=amqp://messagebus

LOGINPORT=3002
LOGINLOCATION=http://login-service:3002
ACCESS_TOKEN_SECRET=MYSECRETACCESS
ACCESS_TOKEN_EXPIRES=1h
REFRESH_TOKEN_SECRET=MYREFRESHTOKENSECRET
MONGODBLOGIN=mongodb://mongo:27017/devops_log

REGISTRATIONPORT=3001
REGISTRATIONLOCATION=http://register-service:3001
MONGODBREGISTRATION=mongodb://mongo:27017/devops_reg

TEST_MAIL=""

